[2018-09-08 08:50] snehasi opened #3 "Request to extend the deadline"
Hi,

This is a humble request to extend the deadline by a day, at least. Most of our analysis is done, but the final one is still running. The dataset is humongous, and as we had no previous experience working with big data before, it's a time taking task.
It would be amazing if you could extend the deadline by even just a day! It would give us sufficient time to compile our final conclusion state

[2018-09-09 02:18] birdsarah commented on #3
Hello @snehasi,

I am not in a position to make a decision on this.

In the meantime, can I suggest opening a pull request which should have the majority of your work in it. You can include your ideas, methods, code, tentative conclusions (based on running your code on a sample of the data). This would be a great submission.

Then, a decision can be taken on whether a follow-up commit with the res

[2018-09-10 12:40] mlopatka commented on #3
+1 to @birdsarah response. Preliminary and incremental work would be valuable in assessing the quality of a submission. @snehasi Update commits submitted after the deadline are no problem if a history of the work demonstrates that they are just tidying up the analysis.

[2018-09-10 12:40] #3 closed, assigned to nobody

[2018-09-23 22:26] birdsarah opened #6 "Open source "valid=False" data"
Around 75,000 rows of data were dropped for various reasons when cleaning the data. (Note the clean dataset is 131million rows).

Although this is only a tiny fraction of the data, for completeness, we should consider releasing that invalid data too.

[2018-09-26 19:45] dzeber commented on #6
+1, although I think we should keep it separate from the main dataset.

[2018-11-15 19:31] busycalibrating opened #11 "Static JS pipeline pt.1: Extract unique script URLs from the complete dataset"
Go through the full dataset, pull out the unique script URLs and save them as a list (to avoid working with the whole 70GB dataset). Assign each URL a corresponding filename to use in the download stage (raw URL not compatible with ext4 filesystem).

Notes:
  - ~_Doing this for the whole dataset could result in a ~10GB CSV file, which is probably unwieldy? Either case, will try and see what happen

[2018-11-15 19:40] busycalibrating opened #12 "Static JS pipeline pt. 2: GET all unique files from a URL list"
Check the specified download directory for existing files, generate a list of existing files, compare with the previously generated list of script URLs, and download missing files.

- [ ] Scan through the specified download directory, and generate a list of already downloaded files.
- [ ] Compare this list with the script URL list generated in previous step.
- [ ] Download all missing scripts, and

[2018-11-15 19:47] busycalibrating opened #13 "Static JS pipeline pt. 3: generate list of symbols of interest"
From a (single or list of) specified APIs or [DOM interfaces](https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model), recursively generate a list of symbols to accumulate data on for each javascript file.

Works off of the set of json files from [Mozilla's browser-compat-data/api ](https://github.com/mdn/browser-compat-data/tree/master/api) github page (must have this saved locall

[2018-11-15 19:52] busycalibrating opened #14 "Static JS pipeline pt. 4: Static analysis of JS AST"
Produce a tree walker script that analyzes the AST of each JS file.

__>>Have a rough tree walker, but there are definite errors in my walking algorithm (specifically depth counting). Must investigate further<<__

- [x] Produce an AST for a given JS file
- [x] Walk through the AST and obtain various results:
  - [ ] Depth
  - [ ] Width (distance from the first node in the layer)
  - [ ] Parent inf

[2018-11-27 08:30] mlopatka opened #17 "Migrate this repo to https://github.com/mozilla/overscripted"
For easier communication around this dataset, lets migrate to the fork at: https://github.com/mozilla/overscripted.

No rush on this, so lets resolve the outstanding PRs and then migrate.
-- OR --

I can delete the other repo and rename this one, then we just need to update all local work to point to the correct upstream resource.

[2018-11-29 02:10] Mordax commented on #17
@mlopatka I'd say that this repo is more popular at the moment than that one. If our goal is to have more people contributing to the data set, it will probably be more beneficial to keep the repo with the most watches, stars and forks.

We will be working on making our analysis merge ready, by the way - me and @biskit1 have finals at the moment so we've been MIA.

[2018-11-29 11:48] mlopatka commented on #17
@Mordax no worries!
Github does a great job of keeping a pointer after a repo name change. We should keep working in this repo, but I will rename it to the shorter https://github.com/mozilla/overscripted
That makes it easier to communicate about as we build a larger community around working on this dataset.

[2018-12-18 23:22] birdsarah opened #22 "What's in the really large values?"
The `value` column contains some really large items, what's in there?

An initial look by @dzeber found that there were some csv files containing football scores, but a systematic review hasn't been done.

Do any indicate a potential for a privacy / information loss?

[2018-12-18 23:31] birdsarah opened #24 "How does ad blocking relate to this dataset"
There are Adblock lists - like easylist, easyprivacy, someonewhocares, pgl etc (see https://github.com/uBlockOrigin/uAssets) for ideas.

The overscripted dataset is not designed to pick up ads its designed to capture javascript calls for known / expected fingerprinting vectors. That said, there may be overlap. Interesting to investigate correlations - what set of scripts would be blocked by these

[2018-12-18 23:32] birdsarah opened #25 "Geo analysis"
@birdsarah todo - submit a sanitized version of the work done using whois data to see if others can leverage / build upon.

[2018-12-18 23:35] birdsarah opened #26 "Verification / evolution of "Internet Jones" paper"
Internet Jones and the Raiders of the Lost Trackers: An Archaeological Study of Web Tracking from 1996 to 2016 - a 2016 paper from USENIX - https://www.usenix.org/conference/usenixsecurity16/technical-sessions/presentation/lerner

It contains a number of interesting metrics to describe tracking over time. While the OverScripted dataset does not have sufficient data to compare for all metrics, ther

[2018-12-19 00:13] birdsarah opened #27 "Updating previous fingerprinting / tracking surveys"
- Nikiforakis found 40 sites among top 10k sites - font probing and flash
- Acar et al found:
 * 404 sites in top million - javascript-based fingerprinting
 * 145 of top 10k flash-based

And there are more papers with similar claims - lets add data from our dataset to these learnings.

[2018-12-19 00:15] birdsarah opened #28 "Continue lit review work"
Build on @LABBsoft's work to evaluate prevalence in this dataset and document data deficiencies that we could may be supplement with future crawls or related datasets.

[2018-12-31 20:52] dzeber opened #30 "Design and implement a "risk metric" for websites"
We would like to use the information about website behaviour learnt from the crawl data to build out a system to help users stay safe online. The original idea was to design a scalar "risk" or "badness" metric that would alert the user to the potential riskiness of each page they visit.

However, we immediately run into the question of how to define "badness". While we can claim that some sites ar

[2018-12-31 20:54] dzeber commented on #30
Another potential direction we could take is to define "badness" as __not respecting choices or preferences the user has expressed__. In this approach, we could use a similar implementation of counting occurrences of behaviors. This seems like a more universal way we could assign value judgements to website behaviours. However, the tricky part will be determining the preferences expressed by the u

[2019-01-11 14:38] #17 closed, assigned to nobody

[2019-02-18 02:12] ghost opened #33 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/overscripted/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement

[2019-02-18 02:51] birdsarah commented on #33
Thank you. "Restrict editing to users in teams with push access only" is set to on when I checked 40 minutes after this issue opened. Did someone already make this change?

[2019-02-19 18:30] ghost commented on #33
It may have been that way -- there is no API retrieval of that value, so I couldn't tell. "an abundance of caution".

Thanks for following up.

[2019-02-19 18:30] #33 closed, assigned to nobody

[2019-03-11 19:39] #14 closed, assigned to nobody

[2019-03-11 19:40] birdsarah commented on #14
Closed by #32

[2019-03-11 19:40] birdsarah commented on #11
Closed by #32

[2019-03-11 19:40] #11 closed, assigned to nobody

[2019-03-11 19:40] birdsarah commented on #12
Closed by #32

[2019-03-11 19:40] #12 closed, assigned to nobody

[2019-03-11 19:40] birdsarah commented on #13
Closed by #32

[2019-03-11 19:40] #13 closed, assigned to nobody

[2019-03-11 19:41] birdsarah commented on #6
I'm going to close this, as we're going to refresh with new data soon.

[2019-03-11 19:41] #6 closed, assigned to nobody

[2019-03-11 19:49] birdsarah commented on #27
@willougr has some initial work on this to share.

[2019-03-11 19:54] birdsarah opened #34 "Can we build a heuristic for browser attribute fingerprinting?"
There are some scripts that we can pick out by name that are doing browser attribute fingerprinting:

* The fingerprintjs scripts
* Scripts with `hs-analytics` in the script_url
* Scripts with `/akam/` in the script_url

Can we build a heuristic for browser attribute fingerprinting that pulls out these scripts?

[2019-03-11 20:25] birdsarah opened #35 "What are the unique IDs in the dataset?"
Develop a function for pulling out unique ids from the dataset.

We want to identify scripts that have stored / created unique ids. We also want to identify scripts that have not been storing / creating unique ids.

[2019-03-11 20:31] birdsarah opened #36 "Can we use array extensions to speed up string processing with dask"
Much of the analysis done on this dataset uses dask. Dask is excellent for distributed numerical computing but seems to struggle with strings.

Array extensions unfortunately can't be serialized https://github.com/pandas-dev/pandas/issues/20612

https://github.com/xhochy/fletcher is an array extension that adds string processing functionality.

Doing some standard tasks for this dataset like: coll

[2019-03-11 20:40] birdsarah commented on #35
https://www.ghostery.com/lp/study/ published a way to detect unique IDs, also discussed in https://arxiv.org/pdf/1804.08959.pdf. What is their technique and can it be used.

[2019-03-11 20:44] birdsarah opened #37 "Your research questions and analysis"
We welcome all explorations and analyses of this dataset to uncover patterns and insights it may hold.

[2019-03-12 05:49] asquare14 commented on #26
I'm interested in this issue !

[2019-03-12 05:52] ayushi1998 commented on #35
Hey

I would like to work on this. I will create a python script for detecting the same using the papers you have posted in the comment.
Kindly guide me with the CSV files I need to look at and what all source code is needed to start with it, if required.

[2019-03-12 06:05] asquare14 opened #38 "Adding support for pip in README.md"
Presently only conda is mentioned. We could generate a `requirements.txt` or `environment.txt` file and let users setup the project using `pip install` after creating a virtual environment. This is especially helpful for Linux users.

[2019-03-12 06:32] birdsarah commented on #38
If you feel motivated to that's fine. Unless other core team feel differently, I strongly prefer keeping conda as the default as it removes cross platform support headaches.

[2019-03-12 06:34] birdsarah commented on #26
Great! Just to re-emphasize this is not a one issue per person repo. All the questions are very open ended and different people may find very different and complementary things when looking at a question.

[2019-03-12 06:35] birdsarah commented on #35
Great! Just to re-emphasize this is not a one issue per person repo. All the questions are very open ended and different people may find very different and complementary things when looking at a question.

[2019-03-12 06:44] birdsarah commented on #35
@ayushi1998 - feel free to hop in gitter for support questions. Please carefully read the home page of the repo to get started. You can also try running the `hello_*.ipynb` in analyses to get started. Once you have got started I would encourage you to contribute extra information wherever you tried looking for it but felt you couldn't find it.

[2019-03-12 11:58] dardecena commented on #26
I'm also interested in this issue.

[2019-03-13 16:57] Soumya0803 opened #42 "Update README.md"
Add about web crawlers in the glossary section.

[2019-03-13 18:44] Muskan284 commented on #36
@birdsarah ,I am an outreachy applicant.Can i work on this issue?
I have done text pre-processing using pyhton,pandas for my earlier projects and would love to contribute on this issue.

[2019-03-14 06:53] asquare14 opened #44 "Changes in hello_world.ipynb (Spark Context)"
While I was going through hello_world.ipynb, I noticed this error `ValueError: Cannot run multiple SparkContexts at once`. It is a pretty common error that occurs because the system automatically initializes the SparkContex.

I had to use `sc.stop()` to stop the earlier context and create a new one. @birdsarah Should I maybe add a cell just after this code snippet

`import findspark
findspark.init

[2019-03-14 06:57] asquare14 opened #45 "Installing Spark on Ubuntu"
Conda install did not work for me and I installed Spark using https://datawookie.netlify.com/blog/2017/07/installing-spark-on-ubuntu/

Should I add this in New contributor tips?

[2019-03-14 10:00] birdsarah commented on #36
Of course! No need to ask. I will upload a notebook tomorrow that contains the kind of text processing I'm trying to speed up.

[2019-03-14 10:01] birdsarah commented on #45
Great. Thanks.

[2019-03-14 10:03] birdsarah commented on #44
Feel free to open a PR and I'll get someone who uses spark more than me to take a look.

I do almost all my data analysis on this dataset using dask - dask.pydata.org

I'll share a notebook example tomorrow.

[2019-03-14 10:19] asquare14 commented on #26
@birdsarah I'm presently reading the paper mentioned in the link. Could you please tell me what should my goals be while I am read the paper ?
What sort of contributions are expected on this issue and how do I go about it  ?

[2019-03-14 11:07] birdsarah commented on #26
The Internet Jones paper documents, amongst other things, incidence of fingerprinting. I believe (although I may be wrong so don't hesitate to check in) that we can replicate their methodology and get an incidence rate that we can then compare to their research and continue their presentation of a longitudinal trend.

Aside from doing this I would encourage you to think critically about this idea

[2019-03-14 11:23] asquare14 commented on #26
Thanks so much :) That was very helpful. What do you mean by incidence rate
though ?

On Thu, Mar 14, 2019, 4:37 PM Sarah Bird <notifications@github.com> wrote:

[2019-03-14 14:07] Soumya0803 opened #46 "Add Jupyter Notebook tutorial in Resources"
Found a tutorial on jupyter notebook. Adding it to the Resources section of README.md
Link: https://www.youtube.com/watch?v=HW29067qVWk

[2019-03-14 15:39] AishwaryaDASH commented on #42
Can I please work on this issue?

[2019-03-14 16:59] birdsarah commented on #26
@aSquare14 not a great choice of language on my part I apologize. I mean prevalence. (Incidence it turns out is a hold over from my public health days which I didn't even realized I'd picked up).

[2019-03-14 17:04] birdsarah commented on #42
@AishwaryaDASH, @Soumya0803 has already submitted a PR that's under review against this issue. PRs aimed at outreachy applications are marked with label `research-question`.

[2019-03-14 18:03] birdsarah commented on #46
Please reference your issues on a PR so that they link and autoclose - https://help.github.com/en/articles/closing-issues-using-keywords

Closed via #47

[2019-03-14 18:03] #46 closed, assigned to nobody

[2019-03-14 18:04] birdsarah commented on #42
Please reference your issues on a PR so that they link and autoclose - https://help.github.com/en/articles/closing-issues-using-keywords

Closed via #43

[2019-03-14 18:04] #42 closed, assigned to nobody

[2019-03-14 18:04] birdsarah commented on #45
Please reference your issues on a PR so that they link and autoclose - https://help.github.com/en/articles/closing-issues-using-keywords

Closed via #48

[2019-03-14 18:04] #45 closed, assigned to nobody

[2019-03-15 01:56] Soumya0803 opened #53 "Updating Accessing the data section."
Adding link to the hello_world.ipynb in the README.md

[2019-03-15 03:42] Soumya0803 opened #55 "Add resources on Spark."
Add Resources in the README.md

[2019-03-15 04:07] birdsarah commented on #55
The WIP Tag is for a PR not an issue.

[2019-03-15 04:09] #53 closed, assigned to nobody

[2019-03-15 04:19] birdsarah commented on #55
Open an issue. Open a "WIP" PR that links to the issue. Then anyone who looks at the issue will see the link and know you're working on it. And as soon as your PR is ready for review you can remove WIP tag.  You can also request feedback on specific things while it's still in WIP.

Working on PRs in the open is not a particularly comfortable experience, and not always necessary, but it increases t

[2019-03-15 09:26] birdsarah commented on #34
I uploaded a notebook with basic examples for finding each of the scripts here: https://github.com/mozilla/overscripted/blob/master/analyses/issue_34_setup_and_dask_tips.ipynb

I also gave additional information in the chat. Pasting here too:

hs-analytics:
* To get the hs-analytics scripts, something like df[df.script_url.str.contains('hs-analytics')] will return all the call rows with hs-analyti

[2019-03-15 10:10] birdsarah commented on #36
I have added notebook here: https://github.com/mozilla/overscripted/blob/master/analyses/issue_36.ipynb with some examples of string processing that I often find myself doing.

[2019-03-15 10:30] Victory17 commented on #34
Hi
I am interested in this. I want to work on it.

[2019-03-15 10:32] muskankhedia commented on #34
Hi @birdsarah, I was looking for this issue and as the notebook uploaded by you already performs all the 3 tasks as mentioned in the issue. So, Can you please explain some detail information regarding what more changes are required to be performed in the notebook in order to solve this issue.

[2019-03-15 15:52] Muskan284 commented on #36
Thanks @birdsarah looking into it.

[2019-03-16 00:13] srujana121 commented on #34
Hi @birdsarah , I am applying for outreachy.

Do you think its a good idea to detect canvas fingerprinting. I am thinking on the lines of detecting unnecessary canvas elements. But I am not entirely sure how to detect which elements are not needed.

Generally canvas fingerprinting is done by calling the ToDataURL() method. I am assuming there is no real reason genuine scripts need to get the canva

[2019-03-16 05:36] muskankhedia commented on #35
Hi @birdsarah,

I have been through all the parameters in the dataset and I think none of the parameter act as a unique id. Instead of looking for such a unique id parameter, we can assign a unique id to every distinct scipt_url and store in the dataset accordingly by creating a new column.

If you have some different thoughts or ideas regarding any parameter acting as a unique_id in any way. Pls,

[2019-03-16 09:10] shruthi0898 commented on #36
Hi,
Can I contribute to this as well?
Shruthi

[2019-03-16 21:56] birdsarah commented on #34
@srujana121 @muskankhedia I will try and answer both your questions together. @srujana121 there is no need to develop a technique for detecting fingerprinting. This has already been developed and examples are in the literature. See "Online Tracking: A 1-million-site Measurement and Analysis " and "The Web's Sixth Sense" on the reading list: https://github.com/mozilla/overscripted/wiki/Reading-List

[2019-03-17 05:59] Soumya0803 opened #61 "Add additional information on issue_34_setup_and_dask_tips.ipynb in issue_34_setup_and_dask_tips.md"
Adding additional information provided on Gitter

[2019-03-17 07:32] sargamm commented on #37
hi @birdsarah , I am Sargam , an outreachy applicant and would like to go ahead with this. Can you please elaborate on the issue. Since I am a newbie to open-source could you guide on how to begin with the issue. Thanks:)

[2019-03-17 15:16] srujana121 commented on #36
@birdsarah dask is performing much worse than numpy. Any idea why?

[2019-03-17 15:16] srujana121 commented on #36
@birdsarah also where should I send you the notebooks?

[2019-03-17 17:26] Soumya0803 opened #63 "Add fingerprinting in glossary"

[2019-03-17 18:57] AishwaryaDASH opened #65 "Add more resources on Dask in README.md"

[2019-03-17 19:42] muskankhedia commented on #34
Hi @birdsarah,

I have some doubts regarding this, do we have to make a list of such scripts used for browser attribute fingerprinting and search for all of them individually using a looping or we have to create a function to automatically search for such scripts based on some parameters.

[2019-03-17 20:19] 14Richa opened #67 "Sample 10 percent data files are not linked correctly in project README.md"
The two links for the data sources in (3.7 GB and 9.1 GB respectively) in project's Readme.md are incorrect. Unable to download zipped files from those links.

[2019-03-17 21:23] birdsarah commented on #67
Uh. Oh. Apologies. Working on it.

[2019-03-17 21:26] birdsarah commented on #67
Fixed by 6f02a01df4a22ae95df46aea2566ef3321e316f2

[2019-03-17 21:26] #67 closed, assigned to birdsarah

[2019-03-17 21:28] #55 closed, assigned to nobody

[2019-03-17 21:37] dtlight opened #68 "add 'user agent' to glossary"

[2019-03-17 21:46] birdsarah commented on #34
@muskankhedia have you reviewed "https://github.com/sensor-js/OpenWPM-mobile/blob/mobile_sensors/feature_extraction/extract_features.py"? Which of the papers in the reading list have you reviewed? What did you learn from them?

Please reformat your question "In ____ the authors do _____. When I tried to do _____, I was stuck by _____. As a result I have the following question ___________."

[2019-03-18 05:16] shruthi0898 commented on #28
Hi Sarah, can you please explain this a bit? I am able to understand the issue. Can you please illustrate with an example? Also, where can I see @LABBsoft 's work?

Thank you in advance.

[2019-03-18 05:19] shruthi0898 commented on #27
@birdsarah can you please share @willougr work on this. I would like to continue the work on this as well.
Thanks in advance.

[2019-03-18 05:20] Aimaanhasan opened #70 "Import error while using the provided environment in analyses folder"
System Specs:
Anaconda: Version 2018.12
Windows 10 (64 -bit)

I get the error when importing Client from dask.distributed when using the overscripted environment.
The error is
`ImportError                               Traceback (most recent call last)
C:\ProgramData\Anaconda3\envs\overscripted\lib\site-packages\dask\distributed.py in <module>
      4 try:
----> 5     from distributed import *

[2019-03-18 06:15] AishwaryaDASH commented on #37
Hi @birdsarah! May I please know how can we contribute to this issue? I mean, what is expected from us? Do we have to only post comments containing written explanations of our research analyses in this thread here?

[2019-03-18 08:04] #68 closed, assigned to nobody

[2019-03-18 11:40] AlbionaHoti commented on #61
Hi, @Soumya0803 I am an outreachy applicant!

Can I work on this?

[2019-03-18 13:45] srujana121 commented on #34
@birdsarah

In "[https://sensor-js.xyz/webs-sixth-sense-ccs18.pdf](https://sensor-js.xyz/webs-sixth-sense-ccs18.pdf)" the authors find the trackers by clustering the scripts that use sensor information. So this is what I have understood. Can you tell me if this is what I have to do.
1. I have to cluster the scripts in the dataset like they did in the paper.
2. My heuristic would be how close a scr

[2019-03-18 14:48] Soumya0803 commented on #61
Hi @AlbionaHoti I am an Outreachy applicant too. I have already created a WIP PR for this issue.
I will ask @birdsarah to review the work done so far so that you can start woking on it.

[2019-03-18 15:18] AlbionaHoti commented on #22
Hi, @birdsarah I am an outreachy applicant, can I work on this?

Do you have any suggestion as a starting point for me?

[2019-03-18 17:33] birdsarah commented on #22
Hi @AlbionaHoti no need to ask. I look forward to your contribution. This is a very open-ended question so what you make of it will be entirely your own.

This notebook is a notebook that starts the conversation about the value column: https://github.com/mozilla/overscripted/blob/master/analyses/hello_mozfest.ipynb

With that said that notebook is not a template. There are many things to explore i

[2019-03-18 17:41] birdsarah commented on #70
Anaconda's base environment includes every package you could conceivably need so I'm not surprised that work.

To debug this, please include information on:
1) How you set up overscripted environment
2) Output of `conda list` for your environment

Finally, we should definitely update the environment.yaml for the latest versions of packages.

[2019-03-18 17:54] birdsarah commented on #37
Hi, This Pull Request: https://github.com/mozilla/overscripted/pull/2 is an example of two contributors contributing their own analysis.

@fabsar There's not much to elaborate here. The purpose of this issue is to leave it open for people to submit their own explorations / analyses / contributions of the data.

@AishwaryaDASH You should submit a PR with your write-up, you should not add analyses t

[2019-03-18 18:11] birdsarah commented on #34
Hi @srujana121 .... I'm having a little trouble answering this. So I'm going to say up front that there's no right answers here. That's the hard part about data exploration and research. There's no hidden hint in the rest of what I write here about what I think is a "best" direction. The following is just notes and observations not direction.

----

What you posted is not what you *have* to do, bu

[2019-03-18 22:09] birdsarah commented on #70
I have just replicated the issue.

Running `conda update --all -c conda-forge` worked for me.

The `-c conda-forge` may not be necessary, I just use conda-forge for lots of things.  I will update the environment.yaml.

[2019-03-18 22:16] birdsarah commented on #34
The work from @willougr has been posted: https://github.com/mozilla/overscripted/tree/master/analyses/2019_03_willougr_fingerprinting_implementation_sixth_sense - it has a small bug in it so if you're trying to run it yourself you may need to fix up the variable names for the data file path - but other than that it's good. This applies the heuristics used for detecting audio, canvas, font, and web

[2019-03-18 22:19] birdsarah commented on #27
The work from @willougr has been posted: https://github.com/mozilla/overscripted/tree/master/analyses/2019_03_willougr_fingerprinting_implementation_sixth_sense - it has a small bug in it so if you're trying to run it yourself you may need to fix up the variable names for the data file path - but other than that it's good. This applies the heuristics used for detecting audio, canvas, font, and web

[2019-03-18 22:27] birdsarah commented on #35
@muskankhedia I think you are misunderstanding the nature of this issue.

We want to look at calls, probably to storage APIs, to discover scripts that have been setting unique ids.

The creation of unique IDs is a symptom of fingerprinting. That does not mean that the storage of Unique IDs means that fingerprinting definitively has occurred. It also does not mean that if we do not detect a unique

[2019-03-18 22:28] birdsarah commented on #34
@Victory17 I missed your message before. Permission is not required to work on issues. Just dive right in.

[2019-03-18 22:38] birdsarah commented on #28
LABBsoft's work is here: https://github.com/mozilla/overscripted/tree/master/analyses/2018_12_LABBsoft_tracking_review

The starting two documents are: https://github.com/mozilla/overscripted/blob/master/analyses/2018_12_LABBsoft_tracking_review/Tracking%20Methods.md and https://github.com/mozilla/overscripted/blob/master/analyses/2018_12_LABBsoft_tracking_review/Tracking%20Method%20Sources.md

Fr

[2019-03-18 22:46] #70 closed, assigned to nobody

[2019-03-18 22:46] birdsarah commented on #70
Thanks for the report @Aimaanhasan

[2019-03-19 00:22] birdsarah commented on #36
@srujana121

 instructions for submitting a PR are on the landing page: https://github.com/mozilla/overscripted - please ask questions like this on the chat and keep issue questions

I could speculate wildly but that wouldn't be productive. Suggest a PR with a concrete examples documenting your observation of "dask performing much worse than numpy."

[2019-03-19 00:23] birdsarah commented on #36
@shruthi0898 there's no need to ask permission to work on an issue.

[2019-03-19 03:21] #61 closed, assigned to nobody

[2019-03-19 17:08] Soumya0803 opened #74 "Analysis on #34, calculating percentage of scripts present in dataset"
Finding out the total number of scripts of the three types present in the dataset and calculating the percentage of each script and the three scripts considered together.

[2019-03-19 19:47] 14Richa commented on #34
Adding for clarity: Browser attribute fingerprinting is a kind of browser fingerprinting in which a bunch of browser specific attributes are collected and used to uniquely identify a browser. Eg. It could be something like a hash generated using a known algorithm which concats attributes like screen-size, resolution, font etc to a string and hashes that string. Now this hash will most likely be un

[2019-03-20 14:28] ShilpaSangappa opened #76 "Dataset Description"
We need a section describing each column of the dataset.
Even a single line description for each field would be very helpful for somebody who is starting to work with the dataset.
Most of the multivariate datasets have descriptions of each field.

e.g.: https://archive.ics.uci.edu/ml/datasets/cardiotocography#
Here, the section "Attribute Information" describes each attribute/column

Overscripted

[2019-03-20 14:56] birdsarah commented on #76
There are field descriptions for the raw data in the schema here: https://github.com/mozilla/overscripted/blob/master/data_prep/raw_data_schema.template

There are the additional fields `in_crawl_list`, `in_stripped_crawl_list` - this is because I processed this data from my own copy of the data. These fields can be ignored for now.

The other additional fields could be documented in a README in t

[2019-03-20 16:40] #63 closed, assigned to nobody

[2019-03-20 18:34] 14Richa commented on #76
An example to help understand this more:
Below is an actual row from one of the parquet files. I have removed the columns which had no-value or were redundant.

| location                        | operation | script_col | script_line | script_url                                             | symbol                     | time_stamp               | value

[2019-03-20 19:00] birdsarah commented on #76
Note that you cannot see the "call" being made when you look at the html. You can see the request to load the script.

In the context of this dataset, "call" means individual calls to individual JavaScript APIs that are made by the script, in this case googletagmanager.js

[2019-03-20 19:05] birdsarah commented on #76
It is unfortunate that the medium blog posts confuses this issue. Here's a piece of the discussion from @aSquare14 and i about this on the gitter chat on mar 11

[code]

I initially suggested to @aSquare14 to post a comment on medium, but perhaps some clarification in the main README is in order.

[2019-03-20 19:05] birdsarah commented on #76
@mlopatka - should we edit the medium blog post?

[2019-03-20 21:31] noahwalugembe commented on #37
How can i get this data set

[2019-03-20 21:34] noahwalugembe commented on #35
Can i also work on this

[2019-03-20 21:39] noahwalugembe commented on #24
Can this be assigned to me.

[2019-03-20 21:41] noahwalugembe commented on #22
I would like also to work on this.

[2019-03-20 22:04] birdsarah commented on #37
Read: https://github.com/mozilla/overscripted

[2019-03-20 22:05] birdsarah commented on #24
There are no assigned issues. Everyone is free to work on any research question. There are many possible analyses for a given research question. You are welcome to work on this question.

[2019-03-20 22:06] birdsarah commented on #35
As already mentioned on this issue @noahwalugembe. There are no assigned issues. Everyone is free to work on any research question. There are many possible analyses for a given research question. You are welcome to work on this question.

[2019-03-20 22:08] birdsarah commented on #22
@noahwalugembe. There are no assigned issues. Everyone is free to work on any research question. There are many possible analyses for a given research question. You are welcome to work on this question.

I encourage you to read through all the available information including all the history of the chat from March 11 to today (https://gitter.im/overscripted-discuss/community) to get the most possib

[2019-03-21 11:46] SubbulakshmiRS commented on #36
@birdsarah Can i also make a commit or is it almost over ? I had researched and had found that with fletcher , we  can also use map_partitions and etc to improve dask itself .
https://medium.com/mindorks/speeding-up-text-pre-processing-using-dask-45cc3ede1366

[2019-03-21 16:45] birdsarah commented on #36
The deadline is April 2. Please join on chat https://gitter.im/overscripted-discuss/community to read about this kind of information, and to ask questions. I look forward to seeing your contribution @SubbulakshmiRS

[2019-03-22 06:34] birdsarah commented on #36
Some notes from elsewhere:

To say the fletcher docs are limited would be an understatement. I had to dig around in the fletcher codebase to figure this out, here's some pseudocode for how I think you change a dask string column to a dask fletcher column

[code]

I've just been reading this which gives some context for fletcher so I thought I'd share: https://www.dataschool.io/future-of-pandas/ an

[2019-03-22 14:43] #65 closed, assigned to nobody

[2019-03-22 19:33] birdsarah commented on #74
@Soumya0803 - can you elaborate why this is a meaningful / instructive thing to do? How does it advance the broader goal of #34?

[2019-03-22 22:05] anushkab opened #79 "Analyses README.md"
The README.md of the analyses folder gives the false idea of installing both Anaconda and Spark in Step 2 (alteast I found so). One can proceed without installing Spark (correct me if I am wrong) by using conda or vice versa.
In the Gitter chat I noticed most people get struck on the environment import error in the analyses folder(Issue #70 ) which makes it a frequently raised issue . So a good th

[2019-03-23 06:02] #79 closed, assigned to nobody

[2019-03-24 04:37] Soumya0803 commented on #74
@birdsarah I was trying to find out which among the three has the greatest contribution to fingerprinting and start looking for that script first in the dataset followed by the other two and find out any individual characteristics and after that look for similarities.

[2019-03-25 16:10] mlopatka commented on #76
@birdsarah I've updated the blog post to align our phrasing. Good catch.

[2019-03-25 18:31] AishwaryaDASH opened #84 "Add additional resources on Dask to README.md"
Add video tutorial for Dask and a cheatsheet for quick reference and overall view of the Dask workflow.

[2019-03-26 15:01] birdsarah commented on #74
Hi. I'm still not completely sure that I understand. Let's break it down a little.

The question is what is "contribution to fingerprinting" - these three scripts are not all the fingerprinting scripts, they're just known examples that we can look at. How does looking at the prevalence of these scripts relate to the population of all fingerprinting scripts?

This bit sounds right.

[2019-03-26 15:04] #84 closed, assigned to nobody

[2019-03-27 07:50] Tikwiza commented on #34
I think this is a fantastic topic as I work in the realm of GDPR in the UK and Europe and privacy laws here in the US.  Just brainstorming, but looking at this, may it be a good idea to see if we can look into the fingerprinting on browsers or countries where privacy with internet is quite strictly regulated? Although the GDPR stays quite clear of some technology, I think this might give us a good

[2019-03-28 18:09] agarwalishita opened #86 "What is the difference between ad blocker dataset and tracker blocker dataset."
@birdsarah hello, I went through the working and functionality of both and I want to explain the difference between these two.

[2019-03-28 18:11] birdsarah commented on #86
Okay. There's not really enough information here for me to understand exactly what you mean. But if you have a question that interests you that's related to this dataset, then I look forward to seeing your analysis.

[2019-03-28 18:19] agarwalishita commented on #86
I wanted to clarify whether the provided dataset is more efficient for ad blocker or tracker blocker(to block tracking scripts or javascript calls) through my documentation.

[2019-03-28 18:21] agarwalishita commented on #86
Also I am an Outreachy applicant and this will be my first contribution.

[2019-03-28 21:39] noahwalugembe commented on #22
Thanks am  now working on it

[2019-03-29 10:11] noahwalugembe commented on #26
How do i make a pull request for a non code contribution?
In order to resolve this issue i have written an essay and i would like to make a pull request for it

[2019-03-29 14:41] agarwalishita commented on #86
@birdsarah Can you review it and suggest me if any changes required?

[2019-03-29 15:03] birdsarah commented on #86
@agarwalishita please submit a PR if you would like review. The main README (https://github.com/mozilla/overscripted/) has resources for getting started with git and github and instructions for how to properly format your entry into analyses folder.

[2019-03-30 06:55] ghost opened #90 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 15:12] #90 closed, assigned to nobody

[2019-03-30 20:11] agarwalishita opened #92 "Add resources on Apache Pyarrow to readme.md"
Adding tutorial on Apache Pyarrow for reading the Apache parquet Format.

[2019-03-30 20:12] agarwalishita commented on #92
And show the implementation of this tutorial on the provided dataset.

[2019-03-30 21:16] agarwalishita commented on #92
@birdsarah hello, I have added some resources to readme with analysis part. Can you please review it.

[2019-03-30 21:34] birdsarah commented on #92
Where is the PR?

[2019-04-02 09:03] 14Richa commented on #34
I added some analysis in this [PR](https://github.com/mozilla/overscripted/pull/78). You can use this [file](https://github.com/mozilla/overscripted/blob/4016bd38c907981f7902760fc66fe9701b5fabc6/analyses/2019_03_15_Richa_Sharma_Analysis_Outreachy/BrowserAttributeFingerprinting.md) as well.

[2019-04-02 12:28] KingCyrus opened #103 "Suggestion for Wiki Reading List: Thesis on Fingerprinting"
This thesis, which was submitted by Amin Faiz Khademi in pursuance of a Master degree in science from Queens University in Ontario, Canada, covers fingerprinting analysis; detection, and prevention at runtime.

Here is the link : https://qspace.library.queensu.ca/handle/1974/12604
The PDF is on the site and can be downloaded.

[2019-04-02 19:24] Tikwiza opened #104 "Adblocker and Tracker Blocker Analysis #86"
Please find attached my initial review of #86.  I will continue to work on examples of data based on my initial analysis. Any feedback will be great as it ties into a few other issues that were created and listed in my analysis!
[2019_04_CoderT_Adblocker and Tracker blocker analysis.pdf](https://github.com/mozilla/overscripted/files/3035589/2019_04_CoderT_Adblocker.and.Tracker.blocker.analysis.pdf

[2019-04-02 19:28] Tikwiza commented on #104
Document included in readme file, therefore closing this issue.

[2019-04-02 19:28] #104 closed, assigned to nobody

[2019-04-04 08:18] birdsarah commented on #34
@14Richa bit confused by your last comment - is it aimed at me or tikwiza? always good to use an @ someone.

[2019-04-04 16:38] 14Richa commented on #34
@birdsarah oops, Apologies. I added it for general discussion use case. File summarizes some threads I started chasing.

[2019-04-19 05:03] birdsarah opened #108 "Audio code looks for createOscillator instead of oncomplete"
https://github.com/mozilla/overscripted/blob/master/analyses/2019_03_willougr_fingerprinting_implementation_sixth_sense/Audio%20Fingerprinting%20Heuristics.ipynb

cell 15 reads:

[code]

pretty sure that should be `oncomplete`

[2019-04-19 05:04] birdsarah commented on #108
ping @willougr

[2019-05-10 07:50] xhochy commented on #36
@birdsarah Yes, my Fletcher documententation is very sparse but always feel free to open questions as issues on the repo or reach out in another way. I'm happy to help with the progress of it. I'm currently missing a use case to work on Fletcher but I'm happy to support any helping person who has a use case and wants to work on it.

[2019-10-30 16:30] birdsarah commented on #92
Closing as I believe intro is okay as it is.

[2019-10-30 16:30] #92 closed, assigned to nobody

[2019-10-30 16:31] birdsarah commented on #74
This issue isn't actionable to general community, closing.

[2019-10-30 16:31] #74 closed, assigned to nobody

[2019-10-31 23:31] #108 closed, assigned to aliamcami